@model DAL.User

@{
    ViewData["Title"] = Model != null ? "Edit" : "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Title"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserID" type="hidden" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityID" class="control-label"></label>
                <select asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))"
                        class="form-control" >
                    <option value="">--Select City--</option>
                </select>
                <span asp-validation-for="CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label"></label>
                <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))"
                        class="form-control" >
                    <option value="">--Select Country--</option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
